<ion-view ng-controller="OperaterEntryCtrl" cache-view="false">
         <link href="css/operaterentry.css" rel="stylesheet" cache-view="false"> 

    <ion-header-bar>
         <div class="row">             
             <div class="col col-90" > <p class="titletext">Yantra24x7</p></div>
             <div class="col col-10"><i class="icon ion-android-close close" ng-click="Logout()"></i></div>
         </div>
    </ion-header-bar>   
    <ion-content>
                  <div class="header">Change Password</div>
                  <label class="item item-input">
                      <span class="input-label col col-50">Old Password</span>:<span class="col col-50">
                      <input type="text" name="input" ng-model="data.OldPassword" required></span>
                  </label>

                  <label class="item item-input">
                      <span class="input-label col col-50 text-wrap">New Passsword</span>:<span class="col col-50">
                      <input type="text" name="input" ng-model="data.NewPasssword" required></span>
                  </label>

                  <label class="item item-input">
                      <span class="input-label col col-50">Confirm Password</span>:<span class="col col-50">
                      <input type="text" name="input" ng-model="data.ConfirmPassword" required></span>
                  </label>

                  <div class="row">
                         <div class="col col-10"></div>
                            <div class="col col-80 col-center">
                                <center><button typt="submit" ng-click="Changepassword()" class="button gonext-button">OK</button></center>
                            </div>
                         <div class="col col-10"></div>
                  </div>

   </ion-content>    
</ion-view>
    
    

  